* {
    margin: 0;
    padding: 0;

}
html,body {
    height: 100%;
}
ul, ol{
    list-style: none;
}
img {
    display: block;
}
a {
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
}

//设置首页内容
.main {
    .right {
        .charts {
            #bar,#pipe {
                height: 400px;
            }
         
            
        }
    }
}
//设置用户管理页面 
.main {
    .right {
        .user-contend {
            table{
                th,td {
                    text-align: center;
                    vertical-align: middle;
                }
            }
        }
    }
}

//一级分类页面

.main {
    .right {
        .category-content {
           .btn {
               margin-bottom:15px;
           }
        }
    }
}

//二级分类页面;
