* {
    margin: 0;
    padding: 0;

}
html,body {
    height: 100%;
}
ul, ol{
    list-style: none;
}
img {
    display: block;
}

//设置首页内容
.main {
    .right {
        .charts {
            #bar,#pipe {
                height: 400px;
            }
         
            
        }
    }
}
//设置